FEISHU_APP_ID=cli_xxx
FEISHU_APP_SECRET=xxx

FEISHU2ACP_PERMISSION_MODE=approve-reads
FEISHU2ACP_REPLY_CHUNK_CHARS=3000

ACPX_PROGRAM=acpx
ACPX_PROGRAM_ARGS=[]
ACPX_TIMEOUT_SECS=1800
ACPX_TTL_SECS=300
